<section class="note-form{% if noteEditorClass is defined %} {{ noteEditorClass }}{% endif %}">
    {{ form_start(noteForm, {'attr': {'class': 'note-form', 'id': 'note-form'}}) }}
    <div class="note-editor">
        {{ form_label(noteForm.title) }}
        {{ form_widget(noteForm.title, {'attr': {'class': 'note-form-input'}}) }}
        {{ form_label(noteForm.content) }}
        {{ form_widget(noteForm.content, {'attr': {'class': 'note-form-textarea'}}) }}
    </div>
    <div class="note-command max-width-m">
        {{ form_label(noteForm.url) }}
        {{ form_widget(noteForm.url, {'attr': {'class': 'note-form-input'}}) }}
    </div>
    <div class="note-command max-width-m">
        <button class="note-command-button button is-success" id="save-button" type="submit">Save</button>
    </div>
    {{ form_end(noteForm) }}
</section>

<script>
    (function () {
        const noteFormElement = document.getElementById('save-button');

        noteFormElement.addEventListener('submit', function (event) {
            event.preventDefault();
            setUrl();
            this.submit();
        })

        function setUrl() {
            const urlElement = document.getElementById('note_url');
            const titleElement = document.getElementById('note_title');

            if (urlElement.value) {
                return false;
            }

            urlElement.value = titleElement.value.split(' ')[0];
        }
    })();
</script>
